<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>菜园子账号绑定</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <script src="../static/js/jquery-1.11.0.min.js"></script>
   <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>    
    <script src="../static/js/weui.min.js"></script>
        <script type="text/javascript" src="../static/js/min/clipboard.min.js"></script>
        
<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css" />
<link rel="icon" href="../static/favicon.ico">	
        </head>
        
    <style>
        body{
            background-image: ;
        }
        .container {
            padding: 15px;
        }
    </style>      
<body>
 
    <div class="weui-cell">
        <div class="weui-cell__hd"><h4>复制下方文字，发送至菜园子任一微信群，即可立即创建你的菜园币账户</h4></div>

    </div>
      <div class="weui-cell">
    
                     <textarea  type="textarea" class="weui-textarea" value="" id = "taokouling"  rows="6">我正在创建菜园币账户，我的密令是：#{{token}}#, 点击下方链接：https://applinzi.ddianke.com/wxJSWeb/bindusertoken 即可获取你的密令！</textarea>
       
    </div>
         <div class="weui-cell">
             <div class="weui-cell__hd">
<button class="btn weui-btn weui-btn_primary" id="copyCode"  data-clipboard-target="#taokouling" data-clipboard-action="copy">点击本按钮完成复制</button>  
             </div>
             </div>

        <div class="weui-cell">
        <div class="weui-cell__hd"><h4>为确保及时收到你的菜园币账户变更信息，请扫码关注下方 菜园币服务号 </h4></div>
           </div>

        <div class="weui-cell">
        <img src="https://tsaistorage-1254256984.cos.ap-beijing.myqcloud.com/tsaireader/%E6%9C%8D%E5%8A%A1%E5%8F%B7.jpg" width="100%">
           </div>



    <script>
        var clipboard = new ClipboardJS('.btn');
        clipboard.on('success', function(e){
            console.log(e);
            document.getElementById('copyCode').innerHTML = '复制成功！在菜园子群粘贴发送即可';
        });
        clipboard.on('error', function(e){
            document.getElementById('copyCode').innerHTML = '复制失败，请长按复制';
        });
    </script>

    
    </body>

<script>
    $(function (){
       // $.weui.alert('hi');
    $('#btnActionSheet').on('click', function (){
        $.weui.actionSheet([{
            label: '示例菜单',
            onClick: function (){
                console.log('click1');
            }
        },{
            label: '示例菜单',
            onClick: function (){
                console.log('click2');
            }
        },{
            label: '示例菜单',
            onClick: function (){
                console.log('click3');
            }
        }]);
    });
});
</script>
    
<script>
wx.config({
    //{{ticket}}
    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
    appId: '{{appid}}', // 必填，公众号的唯一标识
    timestamp: '{{sign.timestamp}}', // 必填，生成签名的时间戳
    nonceStr: '{{sign.nonceStr}}', // 必填，生成签名的随机串
    signature: '{{sign.signature}}',// 必填，签名，见附录1
    jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage','chooseWXPay','openProductSpecificView','addCard','chooseCard','openCard'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
});


wx.ready(function () {
  var shareData = {
      title: '快来创建菜园币账号吧',
      desc: '菜园币即将上线，速来创建你的专属账号吧',
      link: 'https://applinzi.ddianke.com/wxJSWeb/bindusertoken',
      imgUrl: 'http://applinzi.ddianke.com/static/img/tsaireader2.png'
  };
  wx.onMenuShareAppMessage(shareData);
  wx.onMenuShareTimeline(shareData);
      
  });    
wx.error(function(res){

     //alert(res); // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。

});
</script>    

</html>
