{% extends "base.html" %}

{% block style %}
<style type="text/css">
    .title-margin{
        margin:10px 10px;
    }

    .button{
        width:100px ;
        height:40px ;
        border:solid 1px #cccccc;
        border-radius:5px;
    }
    .select-normal{
        padding:0 20px;
        height:32px;
        line-height:32px;
        border-radius:5px;
        margin:0 5px;
    }
    .floatright{
        float:right;
    }
    #bg{display:none;position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; background-color: black; z-index:1001; -moz-opacity: 0.7; opacity:.70; filter: alpha(opacity=70); z-index:7000}
    .pop-box-detail{
        display:none;
        position:absolute;
        z-index:9000;
        width:400px;
        height:350px;
        top:50%;
        left:50%;
        margin-top: -200px;
        margin-left: -200px;
        border:solid 1px #cccccc;
        background-color:white;
    }
    .item-c{
        margin:10px;
    }
    .label{
        color:#000;
        font-size:14px;
        padding-left:20px;
        height:40px;
        line-height:40px;
    }
    .table-c{
        border-collapse:separate;
        border-spacing:0px 10px;
    }
    .input-c{
        height:40px;
        line-height:40px;
        padding-left:5px;
        width:220px;
        margin:0px 0 0 18px;
    }
    .set-date{
        margin:20px 0 0 18px;
        width:380px;
    }
    .remark-input{
        margin:20px 0 0 18px;
        width:653px;
        padding-left:5px;
        resize:none;
    }
    .addnew-button{
        width:100px;
        display:inline;
    }
    .lesson-menu{
        display:block;
    }
    .categories{
        margin-left:20px;
        width:220px;
    }
    .search-container{
        width:400px;
        display:inline;
    }
    .button{
        margin-left:10px;
    }
</style>
{% endblock %}

{% block content %}

<div class=" ">
    <div id="bg"></div>
    <div class="pop-box-detail row" > 
        <div class="col-xs-12 col-md-12 " style="text-align:right">
            <img src="../../static/images/close.png" onclick="hideDiv('pop-box-detail');" class="detail-close"/>
            <input id="selected_id" class="" style="display:none"  value=""/>
        </div>
        <table class='table-c'>
            <tbody>
                <tr class="item-c" style="z-index:9500">
                    <td ><label class="label">课程类别：</label></td>
                    <td><select id="categories" class="input form-control categories"></select></td>
                </tr>
                <tr class="item-c" style="z-index:9500">
                    <td ><label class="label">Code：</label></td>
                    <td><input id="code" type='text' class="input input-c" placeholder='请输入大指的课程编号' maxlength="20" onkeyup="value=value.replace(/([^0-9])/g,'')" 
                               onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/([^0-9])/g,''))"/></td>
                </tr>
                <tr class="item-c" style="z-index:9500">
                    <td><label class="label">名称：&nbsp;&nbsp;</label></td>
                    <td><input id="cname" type='text' class="input input-c" placeholder='输入课程名称' maxlength="80"/></td>
                </tr>
                <tr class="item-c" style="z-index:9500">
                    <td><label class="label">教学计划：</label></td>
                    <td><input id="teachingplan" type='text' class="input input-c" placeholder='输入教学计划' maxlength="80"/></td>
                </tr>
            </tbody>
        </table>
        <div id="button-div" >  
            <div style="float:right;position:relative;margin-top:20px;right:50px">
                <input id="btnSave" type=button class="button" onclick='save_lesson()' value="保存"/>
                <input id="btnClose" type=button class="button" onclick="hideDiv('pop-box-detail');"  value="关闭"/>
            </div>
        </div>
    </div>
    <div class="col-sm-11 col-sm-offset-2 col-md-10 col-md-offset-x main">
        <!-- TIME PICKER -->          
        <div style="display:inline-block;width:100%" class="">
            <div class="search-container"><input id="search_content" class="input input-c" placeholder='请输入课程名称包含的字符'/><button class='button' id="search">查询</button></div>
            <div class=" addnew-button" id="addnew"><button class='button'>新增</button></div>
        </div>
        <!-- table-->                   
        <div class="row placeholders">     
            <table id = "lesson_table">
            </table>
            <dev id="toolbar"></dev>
        </div>


    </div>
</div>
{% endblock %}

{% block content2 %}

{% endblock %}

{% block js %}
<script src="/static/js/qrcode.js"></script>
<script type="text/javascript">
    "use strict";
    function setCatetories(){
        let dataURL = encodeURI('../getcatetories');
        $.ajax({
            url: dataURL,
            dataType: "json",
            data: {
				"condition":""
            },
            success: function(data){
                console.log(data)
                for (var i=0;i< data.length; i++){
                    var channel = data[i]
                    $("#categories").append($("<option value='" + channel.ID + "'>" + channel.Name + "</option>"))
                }
            },
            fail: function(err){
                alert(err);
            }
        });
    }
    function edit_lesson(id){
        $(".bootstrap-table .fixed-table-body tbody tr").each(function(i,item){
            if ($(item).data('uniqueid') ==id){
                $("#selected_id").val(id)
                showDiv('pop-box-detail');
                //$("#categories").val(2);
                //console.log($($(item).find('td')[4]).text())
                //console.log($("#categories").find("option:contains('"+$($(item).find('td')[4]).text()+"')").length)
                $("#code").val($($(item).find('td')[1]).text());
                $("#cname").val($($(item).find('td')[2]).text());
                $("#teachingplan").val($($(item).find('td')[3]).text());
                $("#categories").find("option:contains('"+$($(item).find('td')[4]).text()+"')").prop("selected",true);
            }
        });
    }
    function delete_lesson(id){
        if (!confirm('是否删除？')){
            return;
        }
        let dataURL = encodeURI('../deletelesson/');
        $.ajax({
            url: dataURL,
            type:'post',
            data: {
                "id":id,
            },
            success: function(data){
                alert(data)
                $('#lesson_table').bootstrapTable('refresh');
            },
            fail: function(err){
                alert(err);
                $('#lesson_table').bootstrapTable('refresh');
            }
        });
    }
    var btnsave = true;
	function save_lesson(){
        if (!btnsave){
            return;
        }
        let code= $("#code").val();
        if (!code){
            alert('code不能为空');
            return;
        }
        let cname= $("#cname").val();
        if (!cname){
            alert('名称不能为空');
            return;
        }
        let teachingplan = $("#teachingplan").val();
        let cate_id = $("#categories").val();
        let id = $("#selected_id").val();
        //let channel_id = $("#channels").val();
        btnsave = false
        $('#btnSave').val('保存中..');
        let dataURL = encodeURI('../savelesson/');
        $.ajax({
            url: dataURL,
            type:'post',
            data: {
                "id":id,
                "code":code,
                "cname":cname,
                "teachingplan": teachingplan,
                "cate_id": cate_id
                //"channel_id": channel_id
            },
            success: function(data){
                alert(data)
                btnsave = true
        		$('#btnSave').val('保存');
                hideDiv('pop-box-detail');
                $('#lesson_table').bootstrapTable('refresh');
            },
            fail: function(err){
                alert(err);
                btnsave = true
        		$('#btnSave').val('保存');
            }
        });
    }
    function hideDiv(div_id) {   
        var div_obj = $("."+div_id);
        $("#bg").hide()
        div_obj.hide();
        $("body").css("overflow-y","auto"); /*用来隐藏html的滚动条*/
        $("#selected_id").val('')
        $("#startDate").val('');
        $("#endDate").val('');
        $("#code").val('');
        $("#cname").val('');
        $("#balance").val('');
        $("#url").val('');
        $("#remark").val('');
        $("#qrcode").text('')
    }  
    function showDiv(div_id){
        var div_obj = $("."+div_id);
        $("#bg").show()
        div_obj.show(); 
        $("body").css("overflow-y","hidden");
    }
    function sendMsg(){
    }
    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            var height = $(window).height()-195;
            $('#lesson_table').bootstrapTable({
                url: '/getlessons/',     //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: false,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber:1,                       //初始化加载第一页，默认第一页
                pageSize: 20,                       //每页的记录行数（*）
                pageList: [20],        //可供选择的每页的行数（*）
                strictSearch: true,
                clickToSelect: true,                //是否启用点击选中行
                height: height,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                fontSize:14,
                columns: [{
                    field: 'ID',
                    title: 'ID'
                },{
                    field: 'Code',
                    title: 'Code'
                },{
                    field: 'Name',
                    title: '名称'
                },{
                    field: 'TeachingPlan',
                    title: '教学计划'
                },{
                    field: 'Category',
                    title: '课程类型'
                },{
                    field: 'Edit',
                    title: '操作'
                }]
            });
        };
        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                "condition":$("#search_content").val()
            };
            return temp;
        };
        return oTableInit;
    }
    function search(){
        $('#lesson_table').bootstrapTable('refresh');
    }
    $(function () {
        setCatetories();
		$('#addnew').on('click',function(){
            showDiv('pop-box-detail');
        });
        $("#lesson_tab").addClass('tab-on')
        $('#search').on('click',function(){
            search();
        });
        var oTable = new TableInit();
        oTable.Init();
        

    });
</script>
{% endblock %}

