<!DOCTYPE HTML> 
<html>
<head>
    <title>欢迎投稿生菜阅读</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <script src="../static/js/zepto.min.js" type="text/javascript"></script>
    <script src="../static/js/jquery-1.11.0.min.js"></script>
   <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>    
    <script src="../static/js/weui.min.js"></script>
    
<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css" />
<link rel="icon" href="../static/favicon.ico">	
</head>
<body >

    
   
<div class="weui-cells__title"> </div>
<div class="weui-cells weui-cells_form">
    
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">作者署名</label></div>
        <div class="weui-cell__bd">
            <input  type="text" id="openID" value="{{userinfo.openID}}" style="display:none"/>
            <input class="weui-input" type="text" id="author" value="{{userinfo.Name}}" placeholder="例如：小生菜"/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">作品名</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" id="title" placeholder="例如：外星游记"/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">作者简介</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" id="authorBio" placeholder="例如：文艺女青年、一枚逗比"/>
        </div>
    </div>
    
    <div class="weui-cell">
    	<div class="weui-cell__hd"><label class="weui-label">原文链接</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" id="urlLink"  placeholder="例如：http://blog.163.com/doubi"/>
        </div>
    </div>


<div class="weui-cells__title">也可以直接写在这里（手机现场创作更感人！）</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <textarea class="weui-textarea" id="content" placeholder="这是一个忧桑的故事......" rows="10"></textarea>
            
        </div>
    </div>
</div>
           
 
    </div>
            <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" id="gotoplay" onclick="gotoplay();" id="showTooltips">提交投稿</a>
        </div>   
    
    <!--<div class="weui-cells weui-cells_radio">
            <label class="weui-cell weui-check__label" for="x11">
                <div class="weui-cell__bd">
                    <p>白羊座 </p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" name="radio1" id="x11">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label" for="x12">
                <div class="weui-cell__bd">
                    <p>金牛座</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" name="radio1" id="x12">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label" for="x13">
                <div class="weui-cell__bd">
                    <p>双子座</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" name="radio1" id="x13">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label" for="x14">
                <div class="weui-cell__bd">
                    <p>巨蟹座</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" name="radio1" id="x14">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>

        </div>-->

</body>
    <script>
       function gotoplay() {
            var articletype='';
             var gourl = "https://applinzi.ddianke.com/calendar/";
            //if (Math.random()>0.8) {
            //gourl = 'http://mp.weixin.qq.com/s?__biz=MzIzNzA2MjU4MA==&mid=208803670&idx=1&sn=df9cf1daa7564b538b60966731896153&scene=0#rd';   
            //}
            quantity = document.getElementById("author").value;
           if (quantity == 0) 
           {
             
               alert('请填写作者！');
               return;
           }
           name = document.getElementById("title").value;
           if (name =="")
           {
               alert('请填写作品名！');
               return;
           }
           
           content =  document.getElementById("content").value;
           urlLink = document.getElementById("urlLink").value;
           if (content =="" && urlLink =="")
           {
               alert('写点儿什么吧！');
               return;
           }
           
           
           data = {
                    "author":document.getElementById("author").value,
                    "title":document.getElementById("title").value,
                    "authorBio":document.getElementById("authorBio").value,
                    "urlLink": document.getElementById("urlLink").value,
                	"content": document.getElementById("content").value,
               		"openID":document.getElementById("openID").value,
               		"articleType":articletype
                 //""
                },


           		 $.ajax({
                 type: "POST",
                 url: "../calendar/",
                 async: false,
                 data: {
                    "author":document.getElementById("author").value,
                    "title":document.getElementById("title").value,
                    "authorBio":document.getElementById("authorBio").value,
                    "urlLink": document.getElementById("urlLink").value,
                	"content": document.getElementById("content").value,
                     "openID":document.getElementById("openID").value,
                    "articleType":articletype
                 //""
                },

                      success: function (res) {
               alert('投稿成功！');         
              location.href=gourl;
            },
            error: function (msg) {
                alert(msg);
            }
           });                      
        };    
    </script>
<script>
wx.config({
    //{{ticket}}
    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
    appId: '{{appid}}', // 必填，公众号的唯一标识
    timestamp: '{{sign.timestamp}}', // 必填，生成签名的时间戳
    nonceStr: '{{sign.nonceStr}}', // 必填，生成签名的随机串
    signature: '{{sign.signature}}',// 必填，签名，见附录1
    jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage','chooseWXPay','openProductSpecificView','addCard','chooseCard','openCard'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
});


wx.ready(function () {

  var shareData = {
      title: '我刚在生菜阅读投了篇稿，你也来吧！',
      desc: '生菜阅读，是让所有人写给所有人的平台，你也来加入吧！',
      link: 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx92a26ba6653d5b56&redirect_uri=http%3A%2F%2Fwxhoutai.com%2FwxJSWeb%2Fnewarticle&response_type=code&scope=snsapi_userinfo&state=STATE',
      imgUrl: 'http://applinzi.ddianke.com/static/img/calendar2017.jpg'
  };
  wx.onMenuShareAppMessage(shareData);
  wx.onMenuShareTimeline(shareData);
      
  });    
wx.error(function(res){

     alert(res); // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。

});
</script>    



</html>