<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>菜地无边</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <script src="../static/js/zepto.min.js" type="text/javascript"></script>
    <script src="../static/js/jquery-1.11.0.min.js"></script>
   <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>    
    <script src="../static/js/weui.min.js"></script>
    
<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css" />
<link rel="icon" href="../static/favicon.ico">	
        </head>
        
    <style>
        .container {
            padding: 15px;
        }
    </style>      
<body>
 
    <div class="weui-panel weui-panel_access">
 
        <div class="weui-btn-area"><!--wx92a26ba6653d5b56-->
            <a class="weui-btn weui-btn_primary" id="gotoplay" href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx92a26ba6653d5b56&redirect_uri=https%3A%2F%2Fwxhoutai.com%2FwxJSWeb%2Fnewarticle&response_type=code&scope=snsapi_userinfo&state=STATE" id="showTooltips">我要种菜</a>
            <!--<a class="weui-btn weui-btn_primary" id="gotoplay" href="https://applinzi.ddianke.com/wxJSWeb/newarticle&response_type=code&scope=snsapi_userinfo&state=STATE" id="showTooltips">我要种菜</a>-->
        </div>         
   <div class="weui-panel__hd">当前蔬菜: {{Articles.count}} 颗</div>        
        {% for i in Articles %}   
   <div class="weui-panel__bd">
       <a href="{% if i.ArticleURL %} {{i.ArticleURL}} {% else %} {{i.TitlePicture}} {%endif%}" class="weui-media-box weui-media-box_appmsg">

           <div class="weui-media-box__hd">
                <img class="weui-media-box__thumb" src="../static/img/tsaireader2.png" alt="">
            </div>
            <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title">{{i.Title}}                    </h4>
             <h4 class="weui-media-box__desc">作者：{{i.Author}} </h4>
               <!-- <p class="weui-media-box__desc">  {% if i.Editor%} 由 {{i.Editor}} 配音 {% else %} 当前暂无声优认领 {%endif%}</p>-->
            </div>
        </a>

      {%endfor%}    
    </div>

    <div class="weui-panel__ft">
        <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link" >
            <div class="weui-cell__bd" >查看更多</div>
            <span class="weui-cell__ft"></span>
        </a>    
    </div>
       
</div>
        <div class="weui-btn-area">
            
        </div>   
    
    </body>

<script>
    $(function (){
       // $.weui.alert('hi');
    $('#btnActionSheet').on('click', function (){
        $.weui.actionSheet([{
            label: '示例菜单',
            onClick: function (){
                console.log('click1');
            }
        },{
            label: '示例菜单',
            onClick: function (){
                console.log('click2');
            }
        },{
            label: '示例菜单',
            onClick: function (){
                console.log('click3');
            }
        }]);
    });
});
</script>
    
<script>
wx.config({
    //{{ticket}}
    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
    appId: '{{appid}}', // 必填，公众号的唯一标识
    timestamp: '{{sign.timestamp}}', // 必填，生成签名的时间戳
    nonceStr: '{{sign.nonceStr}}', // 必填，生成签名的随机串
    signature: '{{sign.signature}}',// 必填，签名，见附录1
    jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage','chooseWXPay','openProductSpecificView','addCard','chooseCard','openCard'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
});


wx.ready(function () {

  var shareData = {
      title: '菜园子里已经种下{{Articles.count}}颗蔬菜啦, 就等你了！',
      desc: '特别欢迎各路产品汪来这里种菜哟',
      //link: 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx92a26ba6653d5b56&redirect_uri=http%3A%2F%2Fwxhoutai.com%2Fcalendar%2F&response_type=code&scope=snsapi_userinfo&state=STATE',
      link: 'http://applinzi.ddianke.com/calendar/',
      imgUrl: 'http://applinzi.ddianke.com/static/img/tsaireader2.png'
  };
  wx.onMenuShareAppMessage(shareData);
  wx.onMenuShareTimeline(shareData);
      
  });    
wx.error(function(res){

     alert(res); // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。

});
</script>    

</html>
