<!DOCTYPE html>
<html>
<head>

    <title>生菜阅读</title>
    <meta name="description" content="本公众账号的理想是：建立一个社交圈，其内部可以做到内容的供需平衡，自给自足，这里推送的所有信息都来自和您一样订阅本账号的读者或者他们直接好友，欢迎各位和我一起来实现这个目标，积极投稿/荐稿。作者个人微信：ShengCai7744" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="../static/css/style.css?v=0809" />
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="../static/js/jquery-1.11.0.min.js"></script>
    <script src="../static/js/flipsnap.js"></script>
    <script src="../static/js/jquery.lazyload.min.js"></script>
    <script src="../static/js/jquery.slides.min.js"></script>
    <script src="../static/js/main.js"></script>
    <!-- IOS -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="生菜阅读" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <script src="/mp_content/js/vendor/add2home.js"></script>
    <link rel="stylesheet" href="/mp_content/css/add2home.css" />
    <link rel="apple-touch-icon-precomposed" href="http://awb.img.xmtbang.com/img/upload/20141103/066fab2fc2c14bbcbab07f49cbd32492.jpg" />
    <!-- 统计 -->
    <script type="text/javascript">
       
        wx.config({ debug: false, appId: 'wx7b60dfd0e681c6b5', timestamp: 1443851500 , nonceStr: 'A64C94BAAF368E1840A1324E839230DE', signature: '7b747c806989c6d2b6d6143ef0bcfddb59129f7e', jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo'] });
    </script>
</head>
<body>
    


    <div class="top-container">
        <div class="avatar">
            <a href="/m/u/17839"><img src="http://awb.img.xmtbang.com/img/upload/20141103/066fab2fc2c14bbcbab07f49cbd32492.jpg" alt="头像" /></a>
        </div>
        <div class="account-info">
            <h1 class="name">生菜阅读</h1>
            <h2 class="desc">
                <a href="/tools/follow/17839" class="button-follow">+&nbsp;关注</a>
                <!--<span class="button-follow-container"><a href="/m/u/17839/info"><img src="/mp_content/img/info_32.png" /></a></span>-->
            </h2>
        </div>
    </div>




        <div class="list-container">
            <h3 class="articletitle">七天热门</h3>
                <div class="article-item">
                        <div class="item-cover">
                            <img src="/mp_content/img/loading.gif" data-original="http://img03.store.sogou.com/net/a/04/link?appid=100520031&amp;w=128&amp;url=http%3a%2f%2fmmbiz.qpic.cn%2fmmbiz%2f3mhMDCjASzBSZqUvCLa5Q8iaQNSHGcEQX8KG9XSia2qqKXIP260yGq2saiaiaJP5Q0enxQweajibFtTEtiaagxZj01ZQ%2f0" alt="有一种感情是奢侈品 ｜ 生菜阅读" />
                        </div>
                        <div class="item-summary">
                            <div class="item-title">有一种感情是奢侈品 ｜ 生菜阅读</div>
                            <div class="item-text">
                                <div style="float:left">星期二</div>
                               <div style="float:right">阅读 300+</div>
                                  
                            </div>
                            
                        </div>
             
                </div>
                <div class="article-item">
                    <a href="http://mp.weixin.qq.com/s?__biz=MjM5MDE0ODM3Mg==&amp;mid=208824358&amp;idx=1&amp;sn=253ffd65ed8e66fa974bb259f66c9dbd#wechat_redirect">
                        <div class="item-cover">
                            <img src="/mp_content/img/loading.gif" data-original="http://img03.store.sogou.com/net/a/04/link?appid=100520031&amp;w=128&amp;url=http%3a%2f%2fmmbiz.qpic.cn%2fmmbiz%2f3mhMDCjASzCd0kRiaG0jxfoXoIOVRZwSl8Ip51iaovqLMpCLsYbNNPXxXxicf3mps28IdAIeNbRRDczW552wNTGxQ%2f0" alt="怎样拍到美美的婚纱照而不被坑 | 生菜阅读" />
                        </div>
                        <div class="item-summary">
                            <div class="item-title">怎样拍到美美的婚纱照而不被坑 | 生菜阅读</div>
                            <div class="item-text">
                                <div style="float:left">前天</div>
                                <div style="float:right">阅读 200+</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="article-item">
                    <a href="http://mp.weixin.qq.com/s?__biz=MjM5MDE0ODM3Mg==&amp;mid=208833518&amp;idx=1&amp;sn=65ad29e15e8fee871ef1886ad52a2ce0#wechat_redirect">
                        <div class="item-cover">
                            <img src="/mp_content/img/loading.gif" data-original="http://img03.store.sogou.com/net/a/04/link?appid=100520031&amp;w=128&amp;url=http%3a%2f%2fmmbiz.qpic.cn%2fmmbiz%2f3mhMDCjASzCG0NIOVsGTzchmkZiazhLj9ZRY3dGq01KVC5hm9PcSCMQ3pNMRBjQKpafT2Aibc6gNT3b8ezfrd7ZA%2f0" alt="山东婚礼一二三 | 生菜阅读" />
                        </div>
                        <div class="item-summary">
                            <div class="item-title">山东婚礼一二三 | 生菜阅读</div>
                            <div class="item-text">
                                <div style="float:left">昨天</div>
                                <div style="float:right">阅读 200+</div>
                            </div>
                        </div>
                    </a>
                </div>
            <div class="class-item-more"><a href="/m/u/17839/n?sort=1">查看全部阅读排行</a></div>

        </div>
        <div id="tuijian"></div>




    <div class="list-container">
        <h3 class="articletitle">最新文章</h3>
                <div class="article-item">
                    <a href="http://mp.weixin.qq.com/s?__biz=MjM5MDE0ODM3Mg==&amp;mid=208815831&amp;idx=1&amp;sn=5c494410bd209dd5e3dde6ed1a7ba660#wechat_redirect">
                        <div class="item-cover">
                            <img src="/mp_content/img/loading.gif" data-original="http://img03.store.sogou.com/net/a/04/link?appid=100520031&amp;w=128&amp;url=http%3a%2f%2fmmbiz.qpic.cn%2fmmbiz%2f3mhMDCjASzBQ6ttphhIibpjaaSiacyV6HzAwibicg3T44Qvy3wSMJmGprBzW2B7cHWnFxvwRiar4Lr3M5dEOSTvDMQQ%2f0" alt="阁楼小记 | 生菜阅读" />
                        </div>
                        <div class="item-summary">
                            <div class="item-title">阁楼小记 | 生菜阅读</div>
                            <div class="item-text">
                                <div style="float:left">星期三</div>
                                <div style="float:right">阅读 200+</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="article-item">
                    <a href="http://mp.weixin.qq.com/s?__biz=MjM5MDE0ODM3Mg==&amp;mid=208772059&amp;idx=1&amp;sn=f143abaf98ca475db727480fac06b4c0#wechat_redirect">
                        <div class="item-cover">
                            <img src="/mp_content/img/loading.gif" data-original="http://img03.store.sogou.com/net/a/04/link?appid=100520031&amp;w=128&amp;url=http%3a%2f%2fmmbiz.qpic.cn%2fmmbiz%2f3mhMDCjASzB2ox1AyPSQkvVialqt1ulVTlcKYNniavLT6l36sJ0TYEos9Ld4AjiczEAlHnQD7wK8xCtzkGooPBnzQ%2f0" alt="简单的生活 | 生菜阅读" />
                        </div>
                        <div class="item-summary">
                            <div class="item-title">简单的生活 | 生菜阅读</div>
                            <div class="item-text">
                                <div style="float:left">星期一</div>
                                <div style="float:right">阅读 100+</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="article-item">
                    <a href="http://mp.weixin.qq.com/s?__biz=MjM5MDE0ODM3Mg==&amp;mid=208760252&amp;idx=1&amp;sn=cf35f86de0f28390e0ae0d8a1e153ed7#wechat_redirect">
                        <div class="item-cover">
                            <img src="/mp_content/img/loading.gif" data-original="http://img03.store.sogou.com/net/a/04/link?appid=100520031&amp;w=128&amp;url=http%3a%2f%2fmmbiz.qpic.cn%2fmmbiz%2f3mhMDCjASzCLfQI5MQqUKVNolQibV5r5CYReHsjp3tuPJrxOr4f80tnbeFCz1oOkk4aSDOp4QJgjU5ZcJ4AnXOA%2f0" alt="［洋葱卤肉饭］但愿人长久｜生菜阅读" />
                        </div>
                        <div class="item-summary">
                            <div class="item-title">［洋葱卤肉饭］但愿人长久｜生菜阅读</div>
                            <div class="item-text">
                                <div style="float:left">2015-09-27</div>
                                <div style="float:right">阅读 100+</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="article-item">
                    <a href="http://mp.weixin.qq.com/s?__biz=MjM5MDE0ODM3Mg==&amp;mid=208753870&amp;idx=1&amp;sn=8b9062d8b3df7b492c3ac6ec022271ab#wechat_redirect">
                        <div class="item-cover">
                            <img src="/mp_content/img/loading.gif" data-original="http://img03.store.sogou.com/net/a/04/link?appid=100520031&amp;w=128&amp;url=http%3a%2f%2fmmbiz.qpic.cn%2fmmbiz%2f3mhMDCjASzAYqia0vQHn5yCjZibNPgziaTJG6Aj6BxM8ibT4zhbicBZibboIcSEjAMgL019IMELfjeUEvCE15PTDGpFQ%2f0" alt="【菜谈星期六】 致敬90后 | 生菜阅读" />
                        </div>
                        <div class="item-summary">
                            <div class="item-title">【菜谈星期六】 致敬90后 | 生菜阅读</div>
                            <div class="item-text">
                                <div style="float:left">2015-09-26</div>
                                <div style="float:right">阅读 100+</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="article-item">
                    <a href="http://mp.weixin.qq.com/s?__biz=MjM5MDE0ODM3Mg==&amp;mid=208743724&amp;idx=1&amp;sn=9916551348524768d5eab535e4b156a5#wechat_redirect">
                        <div class="item-cover">
                            <img src="/mp_content/img/loading.gif" data-original="http://img03.store.sogou.com/net/a/04/link?appid=100520031&amp;w=128&amp;url=http%3a%2f%2fmmbiz.qpic.cn%2fmmbiz%2f3mhMDCjASzDfPHzlLf57eMCLbStGoEo9oTMfBqtd6dEylHGMDWUfqof99vvyWcSZW8FuppLibiceeANPQoia63LAA%2f0" alt="想说听你并不是很容易的事 | 生菜阅读" />
                        </div>
                        <div class="item-summary">
                            <div class="item-title">想说听你并不是很容易的事 | 生菜阅读</div>
                            <div class="item-text">
                                <div style="float:left">2015-09-25</div>
                                <div style="float:right">阅读 100+</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="article-item">
                    <a href="http://mp.weixin.qq.com/s?__biz=MjM5MDE0ODM3Mg==&amp;mid=208728805&amp;idx=1&amp;sn=de821249b1f87a3e781ab255d640f33e#wechat_redirect">
                        <div class="item-cover">
                            <img src="/mp_content/img/loading.gif" data-original="http://img03.store.sogou.com/net/a/04/link?appid=100520031&amp;w=128&amp;url=http%3a%2f%2fmmbiz.qpic.cn%2fmmbiz%2f3mhMDCjASzBTDSpqdDCzmWAs5l44kFrLTXehHWuUgQAAlRr6JqjMSiaC1FvjsVLkgJXSWiapzct5ZjWXoE4LexYg%2f0" alt="你的笑是一朵花" />
                        </div>
                        <div class="item-summary">
                            <div class="item-title">你的笑是一朵花</div>
                            <div class="item-text">
                                <div style="float:left">2015-09-24</div>
                                <div style="float:right">阅读 200+</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="article-item">
                    <a href="http://mp.weixin.qq.com/s?__biz=MjM5MDE0ODM3Mg==&amp;mid=208718982&amp;idx=1&amp;sn=949233a2d128111519564e30ecda1fa3#wechat_redirect">
                        <div class="item-cover">
                            <img src="/mp_content/img/loading.gif" data-original="http://img03.store.sogou.com/net/a/04/link?appid=100520031&amp;w=128&amp;url=http%3a%2f%2fmmbiz.qpic.cn%2fmmbiz%2f3mhMDCjASzCXyYX9bkY5hz61ibibV0hm7r1QIbX5BbyiaQatmooiacXd2qTEgag4PiaicUR1nkCSM638sKUaF0czGXDA%2f0" alt="H5中的日期控件  | 生菜阅读" />
                        </div>
                        <div class="item-summary">
                            <div class="item-title">H5中的日期控件  | 生菜阅读</div>
                            <div class="item-text">
                                <div style="float:left">2015-09-23</div>
                                <div style="float:right">阅读 200+</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="article-item">
                    <a href="http://mp.weixin.qq.com/s?__biz=MjM5MDE0ODM3Mg==&amp;mid=208699402&amp;idx=1&amp;sn=b515468c47cc61d025de1af96a7185bb#wechat_redirect">
                        <div class="item-cover">
                            <img src="/mp_content/img/loading.gif" data-original="http://img03.store.sogou.com/net/a/04/link?appid=100520031&amp;w=128&amp;url=http%3a%2f%2fmmbiz.qpic.cn%2fmmbiz%2f3mhMDCjASzDbxAL7XLmYhbMYibgXMSY2T4XicfE6t7D9iaV0icRoHy2qkl3XTicviagydeq25y4kITIyBePc2U4lBr3g%2f0" alt="在过去的七年中我是如何对罗永浩粉转黑的 | 生菜阅读" />
                        </div>
                        <div class="item-summary">
                            <div class="item-title">在过去的七年中我是如何对罗永浩粉转黑的 | 生菜阅读</div>
                            <div class="item-text">
                                <div style="float:left">2015-09-22</div>
                                <div style="float:right">阅读 200+</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="article-item">
                    <a href="http://mp.weixin.qq.com/s?__biz=MjM5MDE0ODM3Mg==&amp;mid=208674002&amp;idx=1&amp;sn=09846f8ce2a99d1ae831b61d8a39511c#wechat_redirect">
                        <div class="item-cover">
                            <img src="/mp_content/img/loading.gif" data-original="http://img03.store.sogou.com/net/a/04/link?appid=100520031&amp;w=128&amp;url=http%3a%2f%2fmmbiz.qpic.cn%2fmmbiz%2f3mhMDCjASzCaGuM0UXlmfLyWicbCKJywWYaNxicia218cQWdYoP94zfYEKVZqya5TKFh6rprNUFAppNjAh74BSk3w%2f0" alt="愤怒主播万峰老师已被玩坏.... | 生菜阅读" />
                        </div>
                        <div class="item-summary">
                            <div class="item-title">愤怒主播万峰老师已被玩坏.... | 生菜阅读</div>
                            <div class="item-text">
                                <div style="float:left">2015-09-21</div>
                                <div style="float:right">阅读 400+</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="article-item">
                    <a href="http://mp.weixin.qq.com/s?__biz=MjM5MDE0ODM3Mg==&amp;mid=208657050&amp;idx=1&amp;sn=de143d0f8d38e4851e499b2128a695fd#wechat_redirect">
                        <div class="item-cover">
                            <img src="/mp_content/img/loading.gif" data-original="http://img03.store.sogou.com/net/a/04/link?appid=100520031&amp;w=128&amp;url=http%3a%2f%2fmmbiz.qpic.cn%2fmmbiz%2f3mhMDCjASzCH315iazq7LjPh8CgGNnmvzZKycugXOvJMRLYA39PGxZTOTOxUhN07mzCgW94zTr7SBrFFZTBbCxA%2f0" alt="［洋葱卤肉饭］北外滩寻寻觅觅吃货之旅" />
                        </div>
                        <div class="item-summary">
                            <div class="item-title">［洋葱卤肉饭］北外滩寻寻觅觅吃货之旅</div>
                            <div class="item-text">
                                <div style="float:left">2015-09-20</div>
                                <div style="float:right">阅读 100+</div>
                            </div>
                        </div>
                    </a>
                </div>

        </div>
    <div class="get-more">
        <a href="/m/u/17839/n"><button id="get-more-btn1">查看更多文章</button></a>
    </div>

<script type="text/javascript">
    var g_page = 2;
    var g_uid = 17839;

    var g_cid = 0;
    var g_list = 0;

    wx.ready(function () {
        var shareObject = {
            title: '生菜阅读',
            desc: '本公众账号的理想是：建立一个社交圈，其内部可以做到内容的供需平衡，自给自足，这里推送的所有信息都来自和您一样订阅本账号的读者或者他们直接好友，欢迎各位和我一起来实现这个目标，积极投稿/荐稿。作者个人微信：ShengCai7744',
            imgUrl: 'http://awb.img.xmtbang.com/img/upload/20141103/066fab2fc2c14bbcbab07f49cbd32492.jpg',
            link: 'http://mp.aiweibang.com/m/u/17839/a'
        }

        wx.onMenuShareAppMessage(shareObject);
        wx.onMenuShareTimeline(shareObject);
        wx.onMenuShareQQ(shareObject);
        wx.onMenuShareWeibo(shareObject);
    });

    $(document).ready(function () {
        if( $(".nav-menu .nav-menu-list li").length > 0 ){
            var winWidth = $(window).width() ;
            var navWidth = $(".nav-menu .nav-menu-list").width() ;
            var spanWidth = winWidth - navWidth ;
            var paddingWidth = 10 ;

            if( spanWidth >= 0 ){
                $(".nav-menu .nav-menu-list li").each(function(i,e){
                    $(e).css("width" , ($(e).width() + paddingWidth ) * 100.0 / navWidth + "%" );
                });
            }else{
                var actWidthOld = $(".nav-menu .nav-menu-list li.ui-btn-active").width() + paddingWidth ;
                var actWidth = actWidthOld ;

                if( actWidth > winWidth * 0.6){
                    actWidth = winWidth * 0.6 ;
                }

                $(".nav-menu .nav-menu-list li.ui-btn-active").css("width" , (actWidth * 100.0 / winWidth ) + "%" );
                $(".nav-menu .nav-menu-list li.ui-btn-active").siblings().each(function(i,e){
                    $(e).css("width" , ( ($(e).width() + paddingWidth ) * 100.0 / ( navWidth - actWidthOld ))*( (winWidth - actWidth ) * 1.0 / winWidth  ) + "%" );
                });
            }
            
            $(".nav-menu").css("width","") ;
            $(".nav-menu .nav-menu-list").css("width","") ;
        }

        if($("#columnMore li").length > 0){
            //if($("#columnMore li").length == 1){
            //    $("#getcolumnMore").parent().html($("#columnMore li a").parent().html())
            //    $("#columnMore").remove();
            //    //$("#columnMore li:first").css("width","100%") ;
            //}
            //else 
            if($("#columnMore li").length % 3 == 1){
                $("#columnMore li:first").css("width","66.6%") ;
                $("#columnMore li:last").css("width","66.6%") ;
            }
            else if($("#columnMore li").length % 3 == 2){
                $("#columnMore li:eq(0)").css("width","50%") ;
                $("#columnMore li:eq(1)").css("width","50%") ;
            }
        }

        if ($('#slides').length > 0) {
            $('#slides').slidesjs({
                width: 360,
                height: 180,
                navigation: false,
                play: {
                    active: true,
                    auto: true,
                    interval: 3000,
                    swap: true
                }
            });
        }
        
        //if (!RegExp('micromessenger').test(navigator.userAgent.toLowerCase())) {
        //    $("#mine_entry").text("新媒体阅读").attr("href", "/m");
        //}
        
        $("#getcolumnMore").click(function () {
            var d = $("#columnMore").css("display");
            if (d == "none") {
                var offsetSide = $(document).scrollTop() - $(".nav-menu-container").position().top;

                if (offsetSide < 0) {
                    $("#columnMore").css("display", "block");
                } else {
                    $("#columnMore").css("position", "fixed").css("display", "block").css("top", "34px");
                }
                
                $("#getcolumnMore .icon-morearrow").removeClass("close").addClass("open");

            } else {
                $("#columnMore").css("display", "none");
                $("#getcolumnMore .icon-morearrow").removeClass("open").addClass("close");
            }

            return false;
        });
    });
</script>

<footer class="footer-toolbar">
                <div class="search-bar">
                    <form action="/m/u/17839/s" method="GET">
                        <div class="side-txt">
                            <input type="text" name="wd" class="side-txt-input" placeholder="在生菜阅读的文章中搜索">
                        </div>
                        <div>
                            <input type="submit" value="搜索" class="side-button">
                        </div>
                    </form>
                </div>


</footer>

    
</body>
</html>
