<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>初恋是たったひとつの恋 全集</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <script src="../static/js/zepto.min.js" type="text/javascript"></script>
    <script src="../static/js/jquery-1.11.0.min.js"></script>
   <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>    
    <script src="../static/js/weui.min.js"></script>
    
<link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css" />
<link rel="icon" href="../static/favicon.ico">	
        </head>
        
    <style>
        body{
            background-image: ;
        }
        .container {
            padding: 15px;
        }
    </style>      
<body>
 
    <div class="weui-panel weui-panel_access">
   
    <div class="weui-panel__bd">
      
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">   点击解锁作者（Arasi）彩蛋 ： </h4>
            <audio src="../static/audio/初恋的彩蛋.m4a"  controls="controls" width="100%">您的浏览器不支持该元素</audio>
      <image src="../static/images/2.jpg" width="100%"/> 
        </div>
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">  <a href="http://mp.weixin.qq.com/s?__biz=MjM5MDE0ODM3Mg==&mid=2651100958&idx=1&sn=6d75d7f908cd791bacf916c904750311&chksm=bdb905658ace8c739a29e5ab16b69b94d54ea98fdba81f160fe15886227c354559ca76768fcf&scene=21#wechat_redirect">初恋是たったひとつの恋  (一)</a></h4>

        </div>
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">  <a href="http://mp.weixin.qq.com/s?__biz=MjM5MDE0ODM3Mg==&mid=2651101004&idx=1&sn=c8d11547cfdaada85ef962d5377b2659&chksm=bdb905378ace8c210e5ebc72dd44c5f77ae9894f5f7b18afaadd41a6c761790970ff4f8d042b&scene=21#wechat_redirect">初恋是たったひとつの恋  (二)</a></h4>

        </div>
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">  <a href="http://mp.weixin.qq.com/s?__biz=MjM5MDE0ODM3Mg==&mid=2651101066&idx=1&sn=2a278054af3aa3126e13e2159365bf74&chksm=bdb905f18ace8ce7dd1ddd65dbcf11b1ed13e6dff9b9b75d1f37c8152a5e4ba6ed4d73d35424&scene=21#wechat_redirect">初恋是たったひとつの恋  (三)</a></h4>

        </div>
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">  <a href="http://mp.weixin.qq.com/s?__biz=MjM5MDE0ODM3Mg==&mid=2651101105&idx=1&sn=caf8e4f7027583b1d3330c317156c199&chksm=bdb905ca8ace8cdc505c08a7bd9aa8da35db0d0a84fa06286c2a5c7d94f7d04f06564eaf0228&scene=21#wechat_redirect">初恋是たったひとつの恋  (四)</a></h4>

        </div> 
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">  <a href="http://mp.weixin.qq.com/s?__biz=MjM5MDE0ODM3Mg==&mid=2651101187&idx=1&sn=b786cb2617863a8ee97cc4de51689b15&chksm=bdb90a788ace836ee019247fa495813688970238aacdba196c1eae8307bfcac2b77cc45dc76c&scene=21#wechat_redirect">初恋是たったひとつの恋  (五)</a></h4>

        </div>
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">  <a href="http://mp.weixin.qq.com/s?__biz=MjM5MDE0ODM3Mg==&mid=2651101391&idx=1&sn=e3b880b6f0d32249a6b26d35422dd68f&chksm=bdb90ab48ace83a272a3e3a07586720ad9b3a5905a2d0fc8f16e949b4c1ce161667191014951&scene=21#wechat_redirect">初恋是たったひとつの恋  (六)</a></h4>

        </div>
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">  <a href="http://mp.weixin.qq.com/s?__biz=MjM5MDE0ODM3Mg==&mid=2651101465&idx=1&sn=7dbe50505b80b3d28700d4a2ae7d3847&chksm=bdb90b628ace82748fc9ffb166b249e27e2a26f51f2304b184c347d2f8292ab4a03e0f1e66bc&scene=21#wechat_redirect">初恋是たったひとつの恋  (七)</a></h4>

        </div>
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">  <a href="http://mp.weixin.qq.com/s?__biz=MjM5MDE0ODM3Mg==&mid=2651101636&idx=1&sn=34d760bee95f50b64b905bb812f588db&chksm=bdb90bbf8ace82a9c7647885410f94568f5ad21babb93416aa2b33c0ad50adfc8725f9d44d66#rd">初恋是たったひとつの恋  (终章)</a></h4>

        </div>         
    </div>

</div>
        <div class="weui-btn-area">
            
        </div>   
    
    </body>

<script>
    $(function (){
       // $.weui.alert('hi');
    $('#btnActionSheet').on('click', function (){
        $.weui.actionSheet([{
            label: '示例菜单',
            onClick: function (){
                console.log('click1');
            }
        },{
            label: '示例菜单',
            onClick: function (){
                console.log('click2');
            }
        },{
            label: '示例菜单',
            onClick: function (){
                console.log('click3');
            }
        }]);
    });
});
</script>
    
<script>
wx.config({
    //{{ticket}}
    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
    appId: '{{appid}}', // 必填，公众号的唯一标识
    timestamp: '{{sign.timestamp}}', // 必填，生成签名的时间戳
    nonceStr: '{{sign.nonceStr}}', // 必填，生成签名的随机串
    signature: '{{sign.signature}}',// 必填，签名，见附录1
    jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage','chooseWXPay','openProductSpecificView','addCard','chooseCard','openCard'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
});


wx.ready(function () {

  var shareData = {
      title: '初恋是たったひとつの恋 全集',
      desc: '初恋是たったひとつの恋系列大合集，更有作者语音，快来收听吧！',
      link: 'http://applinzi.ddianke.com/wxJSWeb/wxArticlelist',
      imgUrl: 'http://applinzi.ddianke.com/static/images/2.jpg'
  };
  wx.onMenuShareAppMessage(shareData);
  wx.onMenuShareTimeline(shareData);
      
  });    
wx.error(function(res){

     alert(res); // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。

});
</script>    

</html>
